body{
    border : 4px  solid blue;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;

}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
h1{
    color: blue;
    font-family: Arial, sans-serif;
    color: black;
}.container li{
    display: inline;
    margin-right: 15px;

}p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    

}