h1 {
    color: #333;
    font-family: Arial, sans-serif;
     
    text-align: center;
    margin-top: 20px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin: 20px;
    font-family: Arial, sans-serif;
}
ol {
    margin: 20px;
    padding-left: 40px;
    font-family: Arial, sans-serif;
}
li {
    margin-bottom: 10px;
    color: #444;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    align-self: center ;
}
footer {
    text-align: center;
    margin: 40px 0;
    color: 2px solid black;
    font-size: 14px;
    text-decoration: underline;
    color: #999;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
body{
    border: 5px solid black;
    background-color: aqua;
    color:3px solid black;
}
.circle {
    width: 200px;
    height: 150px;
    background-color: blue;
    border-radius: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    text-align: center;
    
}
strong {
    color: orange;
    font-weight: bold;
}
