.box1{
    display : inline-block;
    width : 150px;
    background-color: aqua;
    justify-self: center;
}
.box2{
    display : inline-block;
    width : 150px;
    background-color: pink;
    justify-self: center;

}
.text{
    float: left;
    clear: both;
}
