.card{
    width: 220px;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
button{
    padding: 10px 20px;
    margin-top: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    border: 2px solid  black;
}
