body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header{
    text-align: center;
    padding: 40px;
    background: black;
    color: white;
}

.about, .projects{
    padding: 30px;
}

.card{
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
}
footer{
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}
