body{
    background-color: white;
    border : 2px solid black;
    justify-self: center;
    ;
   
    margin: 20px;
    padding: 70px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}
.box1{
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    border-color: blue;
    justify-self: center;
    width:300px;
    
}
.box2{
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    border-color: blue;
    width:300px;
    
}.box3{
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    border-color: blue;
    width:300px;
}

.box1,h1{
    text-align: center;
      border-radius: 8px;
}
.circle,h1{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}
.container,circle{
    gap: 20px;
    text-align: center;
}
