
.container{
    border : 2px solid black;
}
.container,h1{
    border: 3px solid black;
    text-align: center;
    background-color: yellow;
    color : black;
    justify-self: center;
    padding : 20px;
   
}
.container,div h2{
    border: 3px solid black;
    background-color: blue;
    color: black;
    text-align: center;
    padding : 20px;
    justify-self: center;
}
.container,h3{
    border: 3px solid black;
    background-color: red;
    color :  black;
    text-align: center;
    justify-self: center;
    padding : 20px;
}
