body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{
    color: blue;
    text-align: center;
    margin-top: 20px;

}
p{
    color: blue;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
span{
    color: blue;
    font-style: italic;
    margin: 20px;
}