table {
    border: 2px solid black;
    background-color: white;

    width: 50%;
    text-align: center;
    margin: auto
}

th {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: lightpink;
}

td:nth-child(odd) {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: lightyellow;
}

td:nth-child(even) {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: lightgray;

    h1 {
        text-align: center;
        border: 2px solid black;
        justify-self: center;
        background-color: aquamarine;
    }
}

.container1 {
    background-color: lightgreen;
}